<html>
  <head>
    <link rel="stylesheet" href="<%= Routes.static_url(AsteroidWeb.Endpoint, "/css/app.css") %>">
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>

